@font-face {
    font-family: domaine;
    src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}

@font-face {
    font-family: editorial;
    src: url(./5f242a694256f02b944d5767_EditorialNew-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: #222;
    overflow-x: hidden;
}

#page1{
    height: 130vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    /* overflow-x: hidden; */
    /* page-2 was not visible, so changed this */
    overflow: hidden;
    /* we did this to remove default scroller */
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img{
    height: 32px;
    width: 30%;
    cursor: pointer;
}

#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
    cursor: default;
}

#nav span{
    width: 30%;
    text-align: right;
    cursor: pointer;
}

#elems{
    /* background-color: red; */
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
}

#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    /* agar hidden nahi lagega, to zoom in effect par, image bahar aajayegi, image-div se */
    border: 5px solid #262626;
}

#elem1 h4{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem1 h4 span{
    background-color: #B83C12;
    color: #c4bcb3;
    font-size: 18px;
    font-weight: 100;
    padding: 3px;
    margin-left: 5px;
    border-radius: 2px;
}

#elem1 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: #676767;
}

#image-div img{
    height: 100%;
    width: 100%;
    /* ye prop img tag ke liye hai. */
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem2{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
    padding: 20px 30px;
    text-align: center;
    border-right: 2px solid #707070;
    border-left: 2px solid #707070;
}

#elem2 h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
    letter-spacing: 1px;
    /* border-bottom: 10px; */
}

#elem2 h3{
    font-family: domaine;
    font-size: 40px;
    font-weight: 100;
    color: #292929;
    margin: 25px 0;
}

#elem2 h6{
    font-family: domaine;
    font-size: 18px;
    font-weight: 100;
    color: #292929;
}

#elem3{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #2c2c2c;
}

#elem3 h4{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem3 h4 span{
    background-color: #B83C12;
    color: #c4bcb3;
    font-size: 18px;
    font-weight: 100;
    padding: 3px;
    margin-left: 5px;
    border-radius: 2px;
}

#elem3 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: #676767;
}

#image-div:hover img{
    scale: 1.1;
    /* ye prop element ke size par kam krti hai */
}

#page1 h1{
    font-size: 67vh;
    font-weight: 100;
    font-family: canopee;
    background-color: #1c1c19;
    color: #c4bcb3;
    line-height: 500px;
    width: 96%;
    margin-left: 1.6%;
    padding-left: 15px;
}

#page2{
    height: 170vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
     /*ye maine khud try kiya to check scroller working fine or nots */
    padding: 70px 40px;
}

#page2-left{
    /* isse, isne parent ki height leli */
    height: 100%;
    width: 35%;
    padding-right: 40px;
    /* background-color: red; */
    border-right: 1px solid #222;
}

#page2-left h2{
    font-size: 100px;
    font-family: canopee;
    text-align: center;
    line-height: 150px;
    font-weight: 100;
}

#page2-left h2 span{
    font-size: 180px;
    font-weight: 600;
}

#page2-left img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-left p{
    font-family: editorial;
    font-size: 23px;
    color: #2c2c2c;
    margin-top: 20px;
}

#page2-left p span{
    display: inline-block;
    position: relative;
    margin-right: 5px; 
    /* margin-bottom: 5px;  */
    font-size: 40px;
    text-align: center;
    width: 30px;
    background-color: #707070;
    color: #c4bcb3;
}

#page2-right{
    height: 100%;
    width:65%;
    /* background-color: rebeccapurple; */
    padding: 0 4.5rem;
    
}

#page2-right img{
    height: 53%;
    width: 100%;
    object-fit: cover;
}

#page2-right h1{
    font-family: canopee;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-top: 25px;
}

#page3{
    height: 55vh;
    background-color: #c4bcb3;
    display: flex;
}

#page3 h1{
    font-size: 24rem;
    margin-left: 1rem;
    padding-left: 3.5rem;
    font-weight: 600;
    width: 75%;
    background-color: #1c1c19;
    color: #c4bcb3;
    font-family: canopee;
}

#page3 img{
    height: 85%;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

#page4{
    height: 150vh;
    background-color: #c4bcb3;
    display: flex;
    align-items: center;
}

#page4-left{
    width: 65%;
    border-right: 2px solid #707070;

    /* height: 100vh; */
}

#page4-left-top{
    padding-top: 2rem;
    height: 60vh;
    /* background-color: aqua; */
}

#p4-elems{
    height: 26rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 20px;
}

#p4-elem1{
    width: 45%;
    height: 100%;
    /* background-color: rgb(51, 0, 255); */
    padding: 20px 30px;
    text-align: start;
    border-right: 2px solid #707070;
    /* border-left: 2px solid #707070; */
}

#p4-elem1 h2{
    font-family: canopee;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 1px;
    /* border-bottom: 10px; */
}

#p4-elem1 h3{
    font-family: domaine;
    font-size: 2rem;
    font-weight: 100;
    color: #292929;
    margin: 25px 0;
}

#p4-elem1 h6{
    font-family: domaine;
    font-size: 18px;
    font-weight: 100;
    color: #292929;
}

#p4-elem2{
    /* background-color: blueviolet; */
    width: 50%;
    height: 100%;
    margin-left: 2rem;
    
}

#p4-elem2 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    /* agar hidden nahi lagega, to zoom in effect par, image bahar aajayegi, image-div se */
    border: 2px solid #262626;
}

#p4-elem2 h4{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-family: canopee;
}

#p4-elem2 h4 span{
    background-color: #B83C12;
    color: #c4bcb3;
    font-size: 18px;
    font-weight: 100;
    padding: 3px;
    margin-left: 5px;
    border-radius: 2px;
}

#p4-elem2 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: #676767;
}

#page4-left-bottom{
    height: 85vh;
    /* background-color: #B83C12; */
}
#page4-left-bottom img{
    margin-left: 3.5rem;
    width: 85%;
    object-fit: cover;

}

#page4-right{
    width: 35%;
    height: 100%;
    padding: 5rem 4rem;
    /* background-color: rebeccapurple; */
}

#page4-right h1{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: canopee;
    font-weight: 300;
    line-height: 5rem;
}

#page4-right h1 span{
    font-size: 10rem;
    font-weight: 500;
    line-height: 9rem;
}

#page4-right p{
    margin-top: 3rem;
    font-size: 1.9rem;
    font-family: editorial;
}

#page4-right #oval{
    height: 10rem;
    width: 90%;
    border: 1px solid #676767;
    border-radius: 50%;
    margin-top: 2rem;
    background-color: #CBC2B8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#oval h1{
    font-size: 3rem;
    font-family: canopee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-60%);
    transition: all ease 0.6s;
}

#oval img{
    height: 60px;
    transition: all ease 0.6s;
    transform: translateX(-120%);
}

#oval:hover img{
    transform: translateX(40%);
}

#oval:hover h1{
    transform: translateX(100%);
}